@import url("https://fonts.googleapis.com/css?family=Iceland");

:root {
    --background-color: #222222;
    --text-color-1: #ffffff;
    --accent-color-1: #007b31;
    --logo-font: "Iceland", cursive;
}