@import './base.css';

* {
    color: var(--text-color-2);
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    max-height: 100vh;
    overflow: hidden;
}

.message {
  align-items: center;
  background-color: #54a056;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-color: #54a056 #ffffff;
    scrollbar-width: auto;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
}

  *::-webkit-scrollbar-track {
    background: #ffffff;
}

  *::-webkit-scrollbar-thumb {
    background-color: #54a056;
}